[submodule "ds000001-fmriprep"]
	path = ds000001-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000001-fmriprep.git
	datalad-id = eb586851-1a79-4671-aded-31384b3d5d7f
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000001-fmriprep.git
[submodule "ds000002-fmriprep"]
	path = ds000002-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000002-fmriprep.git
	datalad-id = 8d3f641d-a802-49fb-80a1-bdb3d21349c4
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000002-fmriprep.git
[submodule "ds000009-fmriprep"]
	path = ds000009-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000009-fmriprep.git
	datalad-id = e2eb80ad-8ad6-4348-bffc-762fb552a3c2
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000009-fmriprep.git
[submodule "ds000105-fmriprep"]
	path = ds000105-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000105-fmriprep.git
	datalad-id = 8332de5a-589a-4ed8-b44b-c9e87a000300
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000105-fmriprep.git
[submodule "ds000108-fmriprep"]
	path = ds000108-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000108-fmriprep.git
	datalad-id = 1661fde9-3c36-4a50-ba8e-ff8c73f70088
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000108-fmriprep.git
[submodule "ds000114-fmriprep"]
	path = ds000114-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000114-fmriprep.git
	datalad-id = ee6f2bd5-62ba-4869-850e-6df4228bc940
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000114-fmriprep.git
[submodule "ds000117-fmriprep"]
	path = ds000117-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000117-fmriprep.git
	datalad-id = 407ea45d-5a30-45a5-9bf6-e360cbfcee40
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000117-fmriprep.git
[submodule "ds000157-fmriprep"]
	path = ds000157-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000157-fmriprep.git
	datalad-id = 1341ed7d-18fd-4b12-bb18-31925c87563e
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000157-fmriprep.git
[submodule "ds000171-fmriprep"]
	path = ds000171-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000171-fmriprep.git
	datalad-id = d6eafd71-f196-416f-bdd6-3f2e3390ec60
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000171-fmriprep.git
[submodule "ds000208-fmriprep"]
	path = ds000208-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000208-fmriprep.git
	datalad-id = c0eed5ef-a2dd-4b6e-84e7-d9b9f6ae37f8
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000208-fmriprep.git
[submodule "ds000102-fmriprep"]
	path = ds000102-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000102-fmriprep.git
	datalad-id = d0f772c5-62a2-4eb7-83cb-3756ca293caf
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000102-fmriprep.git
[submodule "ds000115-fmriprep"]
	path = ds000115-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000115-fmriprep.git
	datalad-id = 1b495f75-cfba-4d44-99f0-ac0996117674
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000115-fmriprep.git
[submodule "ds000228-fmriprep"]
	path = ds000228-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000228-fmriprep.git
	datalad-id = db14441b-aa47-42e0-ba57-525cc518c5d6
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000228-fmriprep.git
[submodule "ds000233-fmriprep"]
	path = ds000233-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000233-fmriprep.git
	datalad-id = a4884db4-c468-4497-864b-13b1d7470582
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000233-fmriprep.git
[submodule "ds000255-fmriprep"]
	path = ds000255-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000255-fmriprep.git
	datalad-id = 5b45bc2d-27b9-4fb7-9014-a39a1135eb0e
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000255-fmriprep.git
[submodule "ds001226-fmriprep"]
	path = ds001226-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds001226-fmriprep.git
	datalad-id = 859f2229-48d9-41fe-99f1-55c5facbc1c5
	datalad-url = https://github.com/OpenNeuroDerivatives/ds001226-fmriprep.git
[submodule "ds001612-fmriprep"]
	path = ds001612-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds001612-fmriprep.git
	datalad-id = 783d6cc4-e58d-47c8-b2c6-53bade8134c1
	datalad-url = https://github.com/OpenNeuroDerivatives/ds001612-fmriprep.git
[submodule "ds003242-fmriprep"]
	path = ds003242-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds003242-fmriprep.git
	datalad-id = 790fde35-d1e0-4390-978f-928c7f1fe9fa
	datalad-url = https://github.com/OpenNeuroDerivatives/ds003242-fmriprep.git
[submodule "ds003338-fmriprep"]
	path = ds003338-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds003338-fmriprep.git
	datalad-id = 50889575-4cb6-4608-9f27-1c92dbc6abbd
	datalad-url = https://github.com/OpenNeuroDerivatives/ds003338-fmriprep.git
[submodule "ds000002-mriqc"]
	path = ds000002-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000002-mriqc.git
	datalad-id = 3a3af661-2cf7-4eec-8e31-38d0c75652b5
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000002-mriqc.git
[submodule "ds000003-mriqc"]
	path = ds000003-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000003-mriqc.git
	datalad-id = f091a099-0cdb-4902-9380-4009d77d4008
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000003-mriqc.git
[submodule "ds000005-mriqc"]
	path = ds000005-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000005-mriqc.git
	datalad-id = 79d904cc-6add-4319-9748-b6ad4547c94d
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000005-mriqc.git
[submodule "ds000006-mriqc"]
	path = ds000006-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000006-mriqc.git
	datalad-id = 6ee91165-6732-48ed-8a6d-8ede00364cc5
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000006-mriqc.git
[submodule "ds000008-mriqc"]
	path = ds000008-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000008-mriqc.git
	datalad-id = 58a531d0-62f5-4767-9765-8a2d485fc598
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000008-mriqc.git
[submodule "ds000009-mriqc"]
	path = ds000009-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000009-mriqc.git
	datalad-id = 9ae1f2aa-5ffa-49d1-b851-95b310a4528d
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000009-mriqc.git
[submodule "ds000030-mriqc"]
	path = ds000030-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000030-mriqc.git
	datalad-id = ae7b6fe7-45c3-468e-954e-9e1a8e5c0ada
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000030-mriqc.git
[submodule "ds000051-mriqc"]
	path = ds000051-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000051-mriqc.git
	datalad-id = 9162fa79-8857-446a-b8cd-af15409f893d
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000051-mriqc.git
[submodule "ds000052-mriqc"]
	path = ds000052-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000052-mriqc.git
	datalad-id = ed292a23-dec4-44e6-8367-9aed2afdd10a
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000052-mriqc.git
[submodule "ds000101-mriqc"]
	path = ds000101-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000101-mriqc.git
	datalad-id = 0970b327-1cc4-417c-89f8-4bad903032a1
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000101-mriqc.git
[submodule "ds000102-mriqc"]
	path = ds000102-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000102-mriqc.git
	datalad-id = 6a982a1d-2828-4878-8412-eacae62c676d
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000102-mriqc.git
[submodule "ds000105-mriqc"]
	path = ds000105-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000105-mriqc.git
	datalad-id = 21ecdc62-dcf5-457b-be65-448c9ddc0b38
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000105-mriqc.git
[submodule "ds000108-mriqc"]
	path = ds000108-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000108-mriqc.git
	datalad-id = 4a60d9b9-244d-4850-ae6a-ba70076c4c0c
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000108-mriqc.git
[submodule "ds000109-mriqc"]
	path = ds000109-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000109-mriqc.git
	datalad-id = ece0c6c9-5c83-4723-a5a2-7559b7f2ce2c
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000109-mriqc.git
[submodule "ds000114-mriqc"]
	path = ds000114-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000114-mriqc.git
	datalad-id = 6b51e94f-c3ca-4288-9033-3c61d31d438a
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000114-mriqc.git
[submodule "ds000115-mriqc"]
	path = ds000115-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000115-mriqc.git
	datalad-id = b3993288-6187-4abf-bc38-697a9de7bb64
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000115-mriqc.git
[submodule "ds000116-mriqc"]
	path = ds000116-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000116-mriqc.git
	datalad-id = f07947aa-8427-432e-94b9-5b2ef22b1b91
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000116-mriqc.git
[submodule "ds000117-mriqc"]
	path = ds000117-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000117-mriqc.git
	datalad-id = 4798557e-5a64-4db9-a4ba-ad1361e39d72
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000117-mriqc.git
[submodule "ds000120-mriqc"]
	path = ds000120-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000120-mriqc.git
	datalad-id = 8b12d3bb-dbcc-4eb6-bd0e-b8d1c032e63c
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000120-mriqc.git
[submodule "ds000133-mriqc"]
	path = ds000133-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000133-mriqc.git
	datalad-id = e2ebd4e8-dcdf-4f4c-8261-6f52df906fcf
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000133-mriqc.git
[submodule "ds000140-mriqc"]
	path = ds000140-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000140-mriqc.git
	datalad-id = 38d7935c-0a0e-4c00-874e-4ea6668ef7f7
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000140-mriqc.git
[submodule "ds000144-mriqc"]
	path = ds000144-mriqc
	url = https://github.com/OpenNeuroDerivatives/ds000144-mriqc.git
	datalad-id = 0dec253e-6c74-4b49-8902-f028f910b02b
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000144-mriqc.git
