[submodule "ds000001-fmriprep"]
	path = ds000001-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000001-fmriprep.git
	datalad-id = eb586851-1a79-4671-aded-31384b3d5d7f
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000001-fmriprep.git
[submodule "ds000002-fmriprep"]
	path = ds000002-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000002-fmriprep.git
	datalad-id = 8d3f641d-a802-49fb-80a1-bdb3d21349c4
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000002-fmriprep.git
[submodule "ds000009-fmriprep"]
	path = ds000009-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000009-fmriprep.git
	datalad-id = e2eb80ad-8ad6-4348-bffc-762fb552a3c2
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000009-fmriprep.git
[submodule "ds000105-fmriprep"]
	path = ds000105-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000105-fmriprep.git
	datalad-id = 8332de5a-589a-4ed8-b44b-c9e87a000300
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000105-fmriprep.git
[submodule "ds000108-fmriprep"]
	path = ds000108-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000108-fmriprep.git
	datalad-id = 1661fde9-3c36-4a50-ba8e-ff8c73f70088
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000108-fmriprep.git
[submodule "ds000114-fmriprep"]
	path = ds000114-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000114-fmriprep.git
	datalad-id = ee6f2bd5-62ba-4869-850e-6df4228bc940
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000114-fmriprep.git
[submodule "ds000117-fmriprep"]
	path = ds000117-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000117-fmriprep.git
	datalad-id = 407ea45d-5a30-45a5-9bf6-e360cbfcee40
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000117-fmriprep.git
[submodule "ds000157-fmriprep"]
	path = ds000157-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000157-fmriprep.git
	datalad-id = 1341ed7d-18fd-4b12-bb18-31925c87563e
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000157-fmriprep.git
[submodule "ds000171-fmriprep"]
	path = ds000171-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000171-fmriprep.git
	datalad-id = d6eafd71-f196-416f-bdd6-3f2e3390ec60
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000171-fmriprep.git
[submodule "ds000208-fmriprep"]
	path = ds000208-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000208-fmriprep.git
	datalad-id = c0eed5ef-a2dd-4b6e-84e7-d9b9f6ae37f8
	datalad-url = https://github.com/OpenNeuroDerivatives/ds000208-fmriprep.git
